/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parisienne&family=Playwrite+AU+TAS+Guides&family=Roboto+Slab:wght@100..900&display=swap'); */
/* In your main index.css or equivalent global stylesheet */
/* @import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@400;700&display=swap'); */

@import "tailwindcss";

@theme {
  --color-primary: #4169E1;    /* Royal Blue */
  --color-secondary: #1E3A5F;  /* Deep Navy */
  --color-accent: #B0C4DE;     /* Light Steel Blue */
  --color-black: #111111;
  --color-white: #FFFFFF;
}

@font-face {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Times New Roman', Times, serif;
    src: url("./assets//fonts/Times\ New\ Roman.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.font-playfair {
  font-family: 'Times New Roman', Times, serif;
}

.body{
  font-family: 'Times New Roman', Times, serif;
}

/* Add to your global CSS if not using Tailwind plugin */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

