@font-face {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Times New Roman', Times, serif;
    src: url("./Times\ New\ Roman.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}